<%= form_for([:admin, lesson]) do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl id="meta-top">
    <dt><label for="lesson-title">Title</label></dt>
      <dd>
        <%= f.text_field :title %>
      </dd>
    <dt><label for="lesson-type">Type</label></dt>
      <dd>
        <%= f.select :lesson_type, options_for_select(Lesson::LESSON_TYPES, lesson.lesson_type), include_blank: "Choose a lesson type" %>
      </dd>
    <dt><label for="lesson-terms">Terms</label></dt>
      <dd>
        <%= f.select :term_ids, options_from_collection_for_select(Term.all.order(name: :asc), "id", "name", lesson.terms.map(&:name)), {}, {multiple: true} %>
      </dd>
  </dl>
  <label for="lesson-body">Body</label>
  <%= f.text_area :body %>
  <label for="lesson-links">Links <em>(One URL per line)</em></label>
  <%= f.text_area :links, value: lesson.links.join(", ") %>
  <label for="lesson-questions">Questions</label>
  <%= f.text_area :questions %>
  <label for="lesson-document">Document</label>
  <%= f.file_field :document %>
  <% if form_type == "new" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <%= f.submit "Save Lesson"%>
<% end %>
