<p id="notice"><%= notice %></p>
<div id="lesson-listing">
  <%= button_to new_admin_lesson_path do %>
    <strong>+</strong> New Lesson
  <% end %>
  <div id="lesson-listing-filter">
    <h2>Filter Lessons</h2>
    <%= form_tag admin_lessons_path, method: :get, class: 'form-inline language-form' do %>
      <ul>
        <li>
          <h3>By Title</h3>
          <%= text_field_tag :title, params[:title],
          placeholder: 'Filter by title', type: :search, class: "form-control" %>
        </li>
        <li>
          <h3>By Type</h3>
          <%= select_tag :lesson_type, options_for_select(Lesson::LESSON_TYPES, params[:lesson_type]), include_blank: "Filter by lesson type", type: :search, class: "form-control" %>
        </li>
        <li>
          <h3>By Term</h3>
          <!-- TODO: Change multiselect so user doesn't need to press Command button. -->
          <%= select_tag :terms, options_from_collection_for_select(Term.all.order(name: :asc), "name", "name", params[:terms]), multiple: true, type: :search, class: "form-control" %>
        </li>
        <li>
          <input type="submit" value="Apply Filters"></input>
        </li>
      </ul>
    <% end %>
  </div>

  <table cols="4" id="lesson-listing-table">
    <tr>
      <th id="lesson-name">Lesson Name</th>
      <th id="article">Type</th>
      <th id="terms">Terms</th>
      <th id="updated">Updated</th>
    </tr>

    <% @lessons.each do |lesson| %>
      <tr>
        <td> <%= link_to lesson.title, admin_lesson_path(lesson) %> </td>
        <td><%= lesson.lesson_type %></td>
        <td><%= lesson.terms.map(&:name).join(", ") %></td>
        <td><%= lesson.updated_at.strftime("%B %-d, %Y") %></td>
      </tr>
    <% end %>
  </table>
</div>

<br>
