<p id="notice"><%= notice %></p>
<article id="lesson">
  <aside>
    <button>Add to Calendar</button>
    <button>Print</button>
  </aside>

  <dl id="meta-top">
    <dt>By</dt>
      <dd><%= @lesson.user.full_name %></dd>
    <dt>Date</dt>
      <dd><%= @lesson.updated_at.strftime("%B %-d, %Y") %></dd>
    <dt>Type</dt>
      <dd><%= @lesson.lesson_type %></dd>
    <dt>Terms</dt>
      <dd><%= @lesson.terms.map(&:name).join(", ") %></dd>
  </dl>

  <p><%= @lesson.body %></p>

  <dl id="meta-bot">
    <dt>Links</dt>
      <dd>
        <ul>
          <% @lesson.links do |link| %>
            <li><%= link_to link, link %></li>
          <% end %>
        </ul>
      </dd>
    <dt>Questions</dt>
      <dd>
        <%= @lesson.questions %>
      </dd>
    <dt><%= link_to 'Download', download_admin_lesson_path(@lesson), disable_with: 'Downloading...' %></dt>
  </dl>
  <aside>
    <%= link_to '<button>Edit</button>'.html_safe, edit_admin_lesson_path(@lesson) %>
    <%= link_to '<button>Back</button>'.html_safe, admin_lessons_path %>
  </aside>
</article>
