<p id="notice"><%= notice %></p>

<h1>Lessons</h1>
<div class="col-md-4">
  <%= form_tag lessons_path, method: :get, class: 'form-inline language-form' do %>
    <div class="form-group">
      <%= text_field_tag :title, params[:title],
      placeholder: 'Filter by title', type: :search, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :lesson_type, params[:lesson_type],
      placeholder: 'Filter by lesson_type', type: :search, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :terms, params[:terms],
      placeholder: 'Filter by term', type: :search, class: "form-control" %>
    </div>
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-search" aria-hidden="true">Search</span>
    <% end %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Byline</th>
      <th>Lesson type</th>
      <th>Terms</th>
      <th>User</th>
      <th>Title</th>
      <th>Body</th>
      <th>Links</th>
      <th>Questions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.byline %></td>
        <td><%= lesson.lesson_type %></td>
        <td><%= lesson.terms.map(&:name) %></td>
        <td><%= lesson.user_id %></td>
        <td><%= lesson.title %></td>
        <td><%= lesson.body %></td>
        <td><%= lesson.links %></td>
        <td><%= lesson.questions %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
