<p id="notice"><%= notice %></p>

<h1>Lessons</h1>
<div class="col-md-4">
  <%= form_tag lessons_path, method: :get, class: 'form-inline language-form' do %>
    <div class="form-group">
      <%= label_tag :title %>
      <%= text_field_tag :title, params[:title],
      placeholder: 'Filter by title', type: :search, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :lesson_type %>
      <%= select_tag :lesson_type, options_for_select(Lesson::LESSON_TYPES, params[:lesson_type]), include_blank: "Filter by lesson type", type: :search, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :terms %>
      <%= select_tag :terms, options_from_collection_for_select(Term.all.order(name: :asc), "name", "name", params[:terms]), multiple: true, type: :search, class: "form-control" %>
    </div>
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        <span class="glyphicon glyphicon-search" aria-hidden="true">Search</span>
    <% end %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Byline</th>
      <th>Lesson type</th>
      <th>Terms</th>
      <th>User</th>
      <th>Title</th>
      <th>Body</th>
      <th>Links</th>
      <th>Questions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.byline %></td>
        <td><%= lesson.lesson_type %></td>
        <td><%= lesson.terms.map(&:name) %></td>
        <td><%= lesson.user_id %></td>
        <td><%= lesson.title %></td>
        <td><%= lesson.body %></td>
        <td><%= lesson.links %></td>
        <td><%= lesson.questions %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
