%li= active_link_to 'Lessons', admin_lessons_path
%li= active_link_to 'Terms', admin_terms_path
%li= active_link_to 'Users', admin_users_path
%li= active_link_to 'Calendar', admin_calendar_items_path
%li= active_link_to 'Users', admin_users_path