<%= form_for [:admin, @calendar_item] do |f| %>
<ul>
    <li>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </li>

    <li>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </li>

    <li>
      <%= f.label :start_time %>
      <%= f.text_field :start_time %>
    </li>

    <li>
      <%= f.label :end_time %>
      <%= f.text_field :end_time %>
    </li>
  </ul>

  <%= f.submit "Create Calendar", class: "btn btn-primary" %>
<% end %>
