<script>
  var noon = new Date();
  noon.setHours(12);
  noon.setMinutes(0);
  noon.setSeconds(0);
  window.onload = function(){
    var picker = new Pikaday({
      field: document.getElementById('datepicker'),
      format: 'MM/DD/YYYY hh:mm a',
      incrementMinuteBy: 15,
      defaultDate: noon,
      onSelect: function() {
       console.log(this.getMoment().format('Do MMMM YYYY'));
      }
    });
  }
</script>
<%= form_for [:admin, @calendar_item] do |f| %>
<form>
<div class="form-group">
  <ul>
    <li>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </li>

    <li>
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>
    </li>

    <li>
      <%= f.label :start_time %>
      <%= f.text_field :start_time, id: 'datepicker',class: "form-control", type: "datetime" %>
    </li>
  </ul>


  <%= f.submit "Create Calendar", class: "btn btn-primary" %>
<% end %>
</div>
</form>
