<article id="calendaritem">
  <dl id="meta-top">
  <div class="form-group row">
    <dt>Title:</dt>
    <br>
      <dd><%= @calendar_item.title %></dd>
      <dt>Body:</dt>
      <br>
      <p><%= @calendar_item.body %></p>
       <dt>Date:</dt>
    <br>
      <dd><%= @calendar_item.start_time %></dd>
  </dl>


  <%= button_to("Edit Event", edit_admin_calendar_item_url(@calendar_item), method: :get, class: "btn btn-primary") %>
  <br>

  <%= button_to("Delete Event", admin_calendar_item_path(@calendar_item), method: :delete, class: "btn btn-primary") %>
</article>
</div>
